.header-img {
    width: 100%;
    height: 17vh;
    object-fit: cover;
    object-position: center bottom;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.75);
}

.event-title {
    z-index: 2;
    color: #ff8482;
    position: absolute;
    top: 6.8rem;
    background-color: #fff;
    border-right: #f1dfdf 2px solid;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.75);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.event-container {
    margin-top: 16vh;
    height: calc(100vh - 3.5rem);
    max-height: calc(100vh - 3.5rem);
    width: 100vw;
    padding: 0 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out; 
    overflow-y: auto;
}

.event-container h2 {
    align-self: start;
    color: #ff8482;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.participants-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding-bottom: 12vh;
}

.event-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.2rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-right: #f1dfdf 2px solid;
    border-radius: 0.7rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 4px 21px -4px rgba(0, 0, 0, 0.75);
    margin: 1rem 0;
}

.icon-no-idea {
    font-size: 3rem;
    text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
    margin: 7vh 0;
}
