.add-participant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    top: 16vh;
    height: calc(100% - 16vh);
    padding: 2rem;
    overflow-y: scroll;
}

.add-participant-container ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 6%;
    width: 80%;
    /* height: 100%; */
}



input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: none;
}

.li-participant {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    bottom: 3vh;
    right: 3vh;
    transition: all 0.3s ease-in-out;
    border-right: #226126 3px solid;
}

.cancel {
    transform: rotateZ(45deg);
    background-color: #fdb7b7;
    border-bottom: #773030 0px solid;
    border-right: #773030 3px solid;
}