.participants-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 0.7rem;
    border-bottom: #e7c5c5 5px solid;
    border-right: #f1dfdf 5px solid;
    box-shadow: 0px 4px 21px -4px rgba(0,0,0,0.75);
    background-color: #fff;
    font-size: 1.7rem;
}

@keyframes moveToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}

.deleting {
    animation: moveToLeft 500ms forwards;
}